<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actor</key>
	<array>
		<string>BlueActor.png</string>
		<string>GreenActor.png</string>
		<string>PurpleActor.png</string>
		<string>RedActor.png</string>
	</array>
	<key>Environment</key>
	<array>
		<string>Grassy Rock.png</string>
		<string>Large Tree.png</string>
		<string>Log.png</string>
		<string>Smaller Tree.png</string>
	</array>
	<key>Object</key>
	<array>
		<string>Bench.png</string>
		<string>Clock Tower.png</string>
		<string>Fountain.png</string>
	</array>
</dict>
</plist>
