<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actor</key>
	<array>
		<string>Actor.png</string>
		<string>Actor 2.png</string>
		<string>Actor 3.png</string>
	</array>
	<key>Environment</key>
	<array>
		<string>Environment.png</string>
		<string>Environment 2.png</string>
		<string>Environment 3.png</string>
	</array>
	<key>Object</key>
	<array>
		<string>Object.png</string>
		<string>Object 2.png</string>
		<string>Object 3.png</string>
	</array>
</dict>
</plist>
